<link rel="stylesheet" href="styles.css">
<div id="form">
    <form method="POST" action="/new">
        <fieldset>
            <legend>Add a new message</legend>
            <input
                type="text"
                placeholder="Name"
                name="user"
                id="nameIn"
                required />
            <textarea
                placeholder="Type your message..."
                name="text"
                id="textIn"
                rows="5"
                cols="10"
                required></textarea>
            <button type="submit" id="submit">Post Message</button>
        </fieldset>
    </form>
</div>
